<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Secure your Node!</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="http://excess-xss.com/">Excess XSS</a></li>
            <li><a href="http://en.wikipedia.org/wiki/Cross-site_scripting">Wikipedia</a></li>
            <li><a href="https://www.owasp.org/index.php/Cross-site_Scripting_(XSS)">OWASP</a></li>
            <li><a href="http://www.google.com.au/about/appsecurity/learning/xss/">Google</a></li>
            <li><a href="http://www.acunetix.com/websitesecurity/cross-site-scripting/">Acunetix</a></li>
            <li><a href="http://www.veracode.com/security/xss">Veracode</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="jumbotron">
      <center>
        <div class="container">
          <h1>XSS - Attack</h1>
          <p>This lesson is going to teach you how to exploit <a href="https://www.owasp.org/index.php/Top_10_2013-A1-Injection"><i>persistent</i></a> <a href="http://www.acunetix.com/blog/articles/persistent-cross-site-scripting/">xss</a>.</p>
          <div style="display: none;" id="successResult">
            <center>
              <div style="width: 50%; background-color: lime; border-radius: 20px; webkit-border-radius: 20px;">
                Congrats! You've completed this exercise, you can close this page now.
              </div>
            </center>
          </div>
        </div>
      </center>
    </div>

    <div class="container">

      <center>

        XSS happens when user input is not validated and sent to a browser. more words go here eventually<br><br>
        Your task: add a post that causes the page to alert the number 5 when you load it.
        <hr>

        <div id="posts">

          <% for(var i = 0; i < data.posts.length; i++) { %>

            <table border=1>
              <tr>
                <td><b><%- data.posts[i].title %></b></td>
              </tr>
              <tr>
                <td><%- data.posts[i].text %></td>
              </tr>
            </table>

          <% } %>

        </div>

        <br>

        <form id="addPostForm" action="/addposts" method="POST" style="width: 30%;">

          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Post Title">
          </div>

          <div class="form-group">
            <label for="text">Text</label>
            <input type="text" class="form-control" id="text" name="text" placeholder="Post Text">
          </div>

          <button type="submit" class="btn btn-default">Add Post</button>
        </form>

      </center>

      <hr>
      <footer>
        <p>&copy; secureyournode 2015</p>
      </footer>
    </div> <!-- /container -->        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script>
          $('#addPostForm').submit(function(e) {

            e.preventDefault();

            var title = $('#title').val();
            var text  = $('#text').val();

            $.ajax({
              method: "POST",
              url:    "/addpost",
              contentType: "application/json",
              data: JSON.stringify({
                title: title,
                text:  text
              }),
              success: function(response) {

                var html = "<table border=1>"                  +
                           "  <tr>"                            +
                           "    <td><b>" + title + "</b></td>" +
                           "  </tr>"                           +
                           "  <tr>"                            +
                           "    <td><b>" + text + "</b></td>"  +
                           "  </tr>"                           +
                           "</table>";

                $('#posts').append(html);

                $('#title').val('');
                $('#text').val('');

                if(response.success) {
                  $('#successResult').show();
                }

              }
            });

          });
        </script>

        <script src="js/main.js"></script>
    </body>
</html>
